@{
    ViewBag.Title = "Registro de Ingreso (Check-In)";
}

<h2>Registro de Ingreso (Check-In)</h2>

<nav>
    <ul>
        <li>@Html.ActionLink("Realizar Check-In", "Index", "CheckIn")</li>
    </ul>
</nav>

<p>Realiza el registro de ingreso de los huéspedes al hotel.</p>

<!-- Aquí iría el formulario para realizar el check-in del huésped. -->
